* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  position: relative;
  background-color: rgb(245, 245, 245);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: white;
  width: auto;
  display: block;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  align-self: stretch;
}

.head-container {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.grid-container {
  
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  margin: 50px;
}


.button-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-section > button {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.add-book-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.modal form {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

form > input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

button, input[type='submit'] {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

form > input[type='submit'] {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  align-self: stretch;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

main > button {
  margin-top: 20px;
  padding: 0.8rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1em;
}

.book-card {
  padding: 18px;
  background-color: white;
  border-radius: 12px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  gap: 18px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);

}

.btn-green {
  background-color: lightgreen;
}

.btn-red {
  background-color: lightcoral;
}